/* Estilos del Footer */
footer {
    width: 100%;
    padding: 10px;
    background-color: #0288d1; /* Azul fuerte */
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
    font-family: Arial, sans-serif;
}
